<html>
    <title >
         Compile and Exceute file
    </title>
    <style> 
        input[type=submit] {
        padding:5px 15px; 
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }
        </style>

    <body font=
        <h1 style="text-align:center;font-size:xx-large"> Auto Grader Basic System</h1>
        <br>
        <br>
        <br>
        <br>
        <form action="http://localhost:5000/result" method= "POST" enctype = "multipart/form-data">
            <input type = "submit" name= "CandE" value ="Compile and Execute"/>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{message}}</h5>
                {% endfor %}        
            {% endif %}
        {% endwith%}
        <p></p>
    </body>
</html>