<html>
    <title >
        Auto Grader Basic System
    </title>
    <style> 
    input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
    </style>
    <body>
        <h1 style="text-align:center;font-size:xx-large" color = rgb(12, 5,5)>Akanksha's Auto Grader System</h1>
        <br>
        <br>
        <br>
        <br>
        <p>Please uplaod walk.cc file</p>
        <form action="/uploader" method= "POST" enctype = "multipart/form-data">
            <input type=  "file" name= "file" />
            <input type = "submit" name= "Upload" value ="Upload file"/>
            </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h4>{{message}}</h4>
                {% endfor %}        
            {% endif %}
        {% endwith%}
    </body>
</html>